{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en temps que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <div class="row mt-5 text-center">
        <h1>Se connecter</h1>
    </div>

    <div class="mb-3">
        <label for="inputPseudo">Pseudo</label>
        <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
    </div>
    <div class="mb-3">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" name="_remember_me">
        <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
    </div>
    <button type="submit" class="btn btn-primary">
        Se connecter
    </button>

</form>
{% endblock %}
