{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block content %}

    <div class="row mt-5 text-center">
        <h1>Modifier l'utilisateur</h1>
    </div>

    <p>
        <a style="color: black" href="{{ path('app_utilisateur_index') }}"><i class="bi bi-arrow-left-circle"></i> Retour à la liste</a>

    </p>
    <br>
{#    {{ form(formUser) }}#}

        {{form_start(formUser)}}
<div class="row mt-5">
    <div class="col-6 offset-3">

        <div class="row mt-7">
            {{ form_row(formUser.pseudo) }}
        </div>
        <div class="row mt-7">
            {{ form_row(formUser.plainPassword) }}
        </div>
        <div class="row mt-7">
            {{ form_row(formUser.confirm) }}
        </div>

        <div class="row mt-7">
            {{ form_row(formUser.nom) }}
        </div>
        <div class="row mt-7">
            {{ form_row(formUser.prenom) }}
        </div>
        <div class="row mt-7">
            {{ form_row(formUser.mail) }}
        </div>
        <div class="row mt-7">
            {{ form_row(formUser.campus) }}
        </div>

        <div class="row mt-7">
            {{ form_row(formUser.photo) }}
        </div>


        {{form_end(formUser)}}

{#    {{ include('utilisateur/_delete_form.html.twig') }}#}
    <script>
        $(document).ready(function() {
            var formu = document.querySelector('[name="utilisateur"]');
            var mdp = document.getElementById('utilisateur_password');
            var confirm = document.getElementById('utilisateur_confirm');
            formu.addEventListener('change', function(){
                if (mdp.textLength > 0 || confirm.textLength > 0) {
                    mdp.required = true;
                    confirm.required = true;
                } else {
                    mdp.required = false;
                    confirm.required = false;
                }
            });

        });
    </script>
{% endblock %}
