{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
        <img src="{{ asset('uploads/photos/' ~ utilisateur.photo) }}" alt="">
            <tr>
                <th>Pseudo</th>
                <td>{{ utilisateur.pseudo }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.prenom }} {{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ utilisateur.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ utilisateur.mail }}</td>
            </tr>
            <tr>
                <th>Campus</th>
                <td>{{ utilisateur.campus.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="javascript:history.back()">back to list</a>

    <a href="{{ path('app_utilisateur_edit') }}">Modifier</a>

{#    {{ include('utilisateur/_delete_form.html.twig') }}#}
{% endblock %}
