{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block content %}
    <div class="row mt-5 text-center">
        <h1>Profil</h1>
    </div>
    <br>
    <p>
        <a style="color: black" href="{{ path('app_utilisateur_index') }}"><i class="bi bi-arrow-left-circle"></i> Retour à la liste</a>

    </p>
    <br>
    <div class="card" style="width: 25rem;">
        <img  src="{{ asset('uploads/photos/' ~ utilisateur.photo) }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ utilisateur.pseudo }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ utilisateur.prenom }} {{ utilisateur.nom }}</li>
                <li class="list-group-item">{{ utilisateur.telephone }}</li>
                <li class="list-group-item">{{ utilisateur.mail }}</li>
                <li class="list-group-item">{{ utilisateur.telephone }}</li>
                <li class="list-group-item">{{ utilisateur.campus.nom }}</li>
            </ul>
            <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-primary" style="--bs-btn-bg: #8581ff;--bs-btn-border-color: #8581ff;">Modifier</a>

        </div>
    </div>


    <a href="{{ path('app_utilisateur_edit') }}">Modifier</a>

{#    {{ include('utilisateur/_delete_form.html.twig') }}#}
{% endblock %}
