{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block content %}
    <div class="row mt-5 text-center">
        <h1>Annuler une Sortie</h1>
    </div>

    <p>
        <a style="color: black" href="{{ path('app_sortie_index') }}"><i class="bi bi-arrow-left-circle"></i> Retour à la liste</a>

    </p>

    {{form_start(sortForm)}}
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="row mt-7">
                {#            {{ form_label(sortForm.nom, 'Nom') }}#}
                {{ form_row(sortForm.nom) }}
            </div>

            <div class="row mt-7">
                {{ form_row(sortForm.dateHeureDebut) }}
            </div>

            <div class="row mt-7">
                {{ form_row(sortForm.duree) }}
            </div>

            <div class="row mt-7">
                {{ form_row(sortForm.dateLimiteInscription) }}
            </div>

            <div class="row mt-7">
                {{ form_row(sortForm.nbInscriptionMax) }}
            </div>

            <div class="row mt-7">
                {{ form_row(sortForm.infosSortie) }}
            </div>

            <div class="row mt-7">
                {{ form_row(sortForm.lieu) }}
            </div>


            <div class="row mt-7">
                {{ form_row(sortForm.campus) }}
            </div>

            <div class="row mt-7">
                {{ form_row(sortForm.motifAnnulation) }}
            </div>



{#            <button class="btn btn-primary" type="submit">Annuler</button>#}
               {{ include('sortie/_form.html.twig', {'button_label': 'Annuler'}) }}

            {{form_end(sortForm)}}
        </div>

    </div>

{% endblock %}
