{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block content %}
    <div class="row mt-5 text-center">
        <h1>Sorties</h1>
    </div>
    <br>
<div style="float: right;">
        <a class="btn btn-dark" style="color: #2c2c2c; text-decoration:none; --bs-btn-bg: #7bf; --bs-btn-border-color:#7bf;" href="{{ path('app_sortie_new') }}">Creer sortie</a>
</div>
<br>

    <div class="dropdown" >
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-bg: #a8adff;--bs-btn-border-color: #a8adff;">
Filtre        </button>
            <div class="dropdown-menu  p-4">
                    {{form_start(filtreForm)}}
                    <div class="mb-3">
                            <div class="mb-3 mt-7">
                                <label for="campus" class="form-label">Campus</label>
                                {{ form_row(filtreForm.campus) }}
                            </div>
                            <div class="mb-3">
                                <label for="nomSortie" class="form-label">Nom de la sortie</label>
                                {{ form_row(filtreForm.nomSortie) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(filtreForm.dateDepuis) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(filtreForm.dateUntil) }}
                            </div>

                            <div class="mb-3">
                                {{ form_row(filtreForm.organisateur) }}
                            </div>
                            <div class="row mt-7">
                                {{ form_row(filtreForm.inscrit) }}
                            </div>
                            <div class="row mt-7">
                                {{ form_row(filtreForm.pasInscrit) }}
                            </div>
                            {{form_end(filtreForm)}}
                            </div>
            </div>
    </div>
        <br>
        <br>
    <div class="fondTab">
    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Horaire</th>
                <th>Duree</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
                <td>{{ sortie.Participant|length }}/{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.Etat.libelle }}</td>
                <td>{% if app.user in sortie.Participant %} X {% endif %}</td>
                <td><a href="{{ path('app_utilisateur_profil', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>  </td>
                <td>
                    <a title="detail" href="{{ path('app_sortie_show', {'id': sortie.id}) }}" style="color: #778eff"><i class="bi bi-eye-fill"></i></a>
                    {% if app.user %}
                        {%  if is_granted('MODIFIER', sortie)  %}
                             <a title="modifier" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}" style="color: #f89dea"><i class="bi bi-pencil-fill"></i></a>
                        {% endif %}
                        {% if is_granted('DESISTEMENT', sortie)  %}
                            <a href="{{ path('app_inscription_desistement_sortie', {'id': sortie.id}) }}">Se désister</a>
                        {% elseif is_granted('INSCRIPTION', sortie) %}
                            <a href="{{ path('app_inscription_desistement_sortie', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/sortie/afficherSortie.js') }}"></script>
{% endblock %}
