{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block content %}
    <div class="row mt-5 text-center">
        <h1>Sorties</h1>
    </div>


<div style="float: right;">
        <a class="btn btn-dark" style="color: #2c2c2c; text-decoration:none; --bs-btn-bg: #7bf; --bs-btn-border-color:#7bf;" href="{{ path('app_sortie_new') }}">Creer sortie</a>
</div>

<br>

    <div class="dropdown" >
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-bg: #a8adff;
--bs-btn-border-color: #a8adff;">
Filtre        </button>
            <div class="dropdown-menu">
                <form class="px-5 py-2">
                {{ form(filtreForm) }}
                </form>
    </div>

        <br>
        <br>

        <div class="fondTab">
    <table class="table">

        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Horaire</th>
                <th>Duree</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
                <td>{{ sortie.Participant|length }}/{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.Etat.libelle }}</td>
                <td>{% if app.user in sortie.Participant %} X {% endif %}</td>
                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}"><i class="bi bi-eye-fill"></i></a>
                    {% if app.user %}
                        {% if is_granted('MODIFIER', sortie)  %}
                             <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}"><i class="bi bi-pencil-fill"></i></a>
                        {% endif %}
                        {% if is_granted('DESISTEMENT', sortie)  %}
                            <a href="{{ path('app_inscription_desistement_sortie', {'id': sortie.id}) }}">Se désister</a>
                        {% elseif is_granted('INSCRIPTION', sortie) %}
                            <a href="{{ path('app_inscription_desistement_sortie', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/sortie/afficherSortie.js') }}"></script>
{% endblock %}
