{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <div class="row mt-5 text-center">
        <h1>Sorties</h1>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
Filtre        </button>
            <div class="dropdown-menu">
                <form class="px-4 py-3">
                    <div class="mb-3">
                            <h3>Filter les sorties</h3>
                            <div>
                                <label for="campus">Campus</label>
                                <select name="campus" id="campus">
                                    <option value="">Tout les campus</option>
                                    {% for campus in lesCampus %}
                                        <option value="{{ campus.id }}">{{ campus.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="nomSortie">Le nom de la sortie contient</label>
                                <input type="text" name="nomSortie" id="nomSortie"/>
                            </div>
                            <div>
                                <div>
                                    <label for="dateDepuis">Entre</label>
                                    <input type="date" name="dateDepuis" id="dateDepuis"/>
                                </div>
                                <div>
                                    <label for="dateUntil">et</label>
                                    <input type="date" name="dateUntil" id="dateUntil"/>
                                </div>

                            </div>
                            <div>
                                <div>
                                    <label>Sorties dont je suis organisateur/trice</label>
                                    <input type="checkbox" id="orga" name="orga">
                                </div>
                                <div>
                                    <label>Sorties auxquelles je suis inscrit/e</label>
                                    <input type="checkbox" id="inscrit" name="inscrit">
                                </div>
                                <div>
                                    <label>Sorties auxquelles je ne suis pas inscrit/e</label>
                                    <input type="checkbox" id="pasInscrit" name="pasInscrit">
                                </div> <div>
                                    <label>Sorties passées</label>
                                    <input type="checkbox" id="passees" name="passees">
                                </div>
                            </div>
                        </div>
                        <button type="submit">Rechercher</button>
            </form>
    </div>

{#    <form action="{{ path('app_sortie_index') }}" method="post">#}
{#        <div>#}
{#            <h3>Filter les sorties</h3>#}
{#            <div>#}
{#                <label for="campus">Campus</label>#}
{#                <select name="campus" id="campus">#}
{#                    <option value="">Tout les campus</option>#}
{#                    {% for campus in lesCampus %}#}
{#                        <option value="{{ campus.id }}">{{ campus.nom }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            </div>#}
{#            <div>#}
{#                <label for="nomSortie">Le nom de la sortie contient</label>#}
{#                <input type="text" name="nomSortie" id="nomSortie"/>#}
{#            </div>#}
{#            <div>#}
{#                <div>#}
{#                    <label for="dateDepuis">Entre</label>#}
{#                    <input type="date" name="dateDepuis" id="dateDepuis"/>#}
{#                </div>#}
{#                <div>#}
{#                    <label for="dateUntil">et</label>#}
{#                    <input type="date" name="dateUntil" id="dateUntil"/>#}
{#                </div>#}

{#            </div>#}
{#            <div>#}
{#                <div>#}
{#                    <label>Sorties dont je suis organisateur/trice</label>#}
{#                    <input type="checkbox" id="orga" name="orga">#}
{#                </div>#}
{#                <div>#}
{#                    <label>Sorties auxquelles je suis inscrit/e</label>#}
{#                    <input type="checkbox" id="inscrit" name="inscrit">#}
{#                </div>#}
{#                <div>#}
{#                    <label>Sorties auxquelles je ne suis pas inscrit/e</label>#}
{#                    <input type="checkbox" id="pasInscrit" name="pasInscrit">#}
{#                </div> <div>#}
{#                    <label>Sorties passées</label>#}
{#                    <input type="checkbox" id="passees" name="passees">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <button type="submit">Rechercher</button>#}
{#    </form>#}

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Horaire</th>
                <th>Duree</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
                <td>{{ sortie.Participant|length }}/{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.Etat.libelle }}</td>
                <td></td>
                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
                    {% if app.user %}
                        {% if (app.user in sortie.Participant) and (sortie.etat.libelle == "Ouverte")  %}
                            <a href="{{ path('app_inscription_desistement_sortie', {'id': sortie.id}) }}">Se désister</a>
                        {% elseif (app.user not in sortie.Participant) and (sortie.etat.libelle == "Ouverte") and (sortie.Participant|length < sortie.nbInscriptionMax) and (sortie.dateLimiteInscription|date <= "now"|date) %}
                            <a href="{{ path('app_inscription_desistement_sortie', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sortie_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/sortie/afficherSortie.js') }}"></script>
{% endblock %}
