{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <div class="row mt-5 text-center">
        <h1>Sorties</h1>
    </div>


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
Filtre        </button>
            <div class="dropdown-menu">
{#                <form class="px-4 py-3" action="{{ path('app_sortie_index') }}" method="post">#}
{#                    <div class="mb-3">#}
{#                            <h3>Filter les sorties</h3>#}
{#                            <div class="mb-3">#}
{#                                <label for="campus" class="form-label">Campus</label>#}
{#                                <select name="campus" id="campus" class="form-control">#}
{#                                    <option value="">Tout les campus</option>#}
{#                                    {% for campus in lesCampus %}#}
{#                                        <option value="{{ campus.id }}">{{ campus.nom }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="mb-3">#}
{#                                <label for="nomSortie" class="form-label">Le nom de la sortie contient</label>#}
{#                                <input type="text"  class="form-control" name="nomSortie" id="nomSortie"/>#}
{#                            </div>#}
{#                            <div>#}
{#                                <div class="mb-3">#}
{#                                    <label for="dateDepuis" class="form-label">Entre</label>#}
{#                                    <input type="date"  class="form-control" name="dateDepuis" id="dateDepuis"/>#}
{#                                </div>#}
{#                                <div class="mb-3">#}
{#                                    <label for="dateUntil" class="form-label">et</label>#}
{#                                    <input type="date"  class="form-control" name="dateUntil" id="dateUntil"/>#}
{#                                </div>#}

{#                            </div>#}
{#                            <div>#}
{#                                <div class="mb-3">#}
{#                                    <input type="checkbox"  class="form-check-input" id="orga" name="orga">#}
{#                                    <label class="form-check-label">Sorties dont je suis organisateur/trice</label>#}
{#                                </div>#}
{#                                <div class="mb-3">#}
{#                                    <input type="checkbox" class="form-check-input" id="inscrit" name="inscrit">#}
{#                                    <label class="form-check-label">Sorties auxquelles je suis inscrit/e</label>#}
{#                                </div>#}
{#                                <div class="mb-3">#}
{#                                    <input type="checkbox"  class="form-check-input" id="pasInscrit" name="pasInscrit">#}
{#                                    <label class="form-check-label">Sorties auxquelles je ne suis pas inscrit/e</label>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <input type="checkbox" class="form-check-input" id="passees" name="passees">#}
{#                                    <label class="form-check-label">Sorties passées</label>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <button  class="btn btn-outline-secondary" type="submit" >Rechercher</button>#}
{#            </form>#}
                {{ form(filtreForm) }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Horaire</th>
                <th>Duree</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
                <td>{{ sortie.Participant|length }}/{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.Etat.libelle }}</td>
                <td>{% if app.user in sortie.Participant %} X {% endif %}</td>
                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
                    {% if app.user %}
                        {% if (app.user in sortie.Participant) and (sortie.etat.libelle == "Ouverte")  %}
                            <a href="{{ path('app_inscription_desistement_sortie', {'id': sortie.id}) }}">Se désister</a>
                        {% elseif (app.user not in sortie.Participant) and (sortie.etat.libelle == "Ouverte") and (sortie.Participant|length < sortie.nbInscriptionMax) and (sortie.dateLimiteInscription|date <= "now"|date) %}
                            <a href="{{ path('app_inscription_desistement_sortie', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sortie_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/sortie/afficherSortie.js') }}"></script>
{% endblock %}
