{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block content %}

    <div class="row mt-5 text-center">
        <h1>Creer une Sortie</h1>
    </div>

    <p>
        <a style="color: black" href="{{ path('app_sortie_index') }}"><i class="bi bi-arrow-left-circle"></i> Retour à la liste</a>

    </p>


    {{form_start(sortForm)}}
    <div class="row mt-5">
        <div class="col-6 offset-3">

            <div class="row mt-7">
            {{ form_row(sortForm.nom) }}
        </div>
        <div class="row mt-7">
            {{ form_row(sortForm.dateHeureDebut) }}
        </div>
        <div class="row mt-7">
            {{ form_row(sortForm.duree) }}
        </div>

        <div class="row mt-7">
            {{ form_row(sortForm.dateLimiteInscription) }}
        </div>
        <div class="row mt-7">
            {{ form_row(sortForm.nbInscriptionMax) }}
        </div>
        <div class="row mt-7">
            {{ form_row(sortForm.infosSortie) }}
        </div>
        <div class="row mt-7">
            <a href="{{ path('app_lieu_new') }}"><i class="bi bi-plus-circle-fill"></i></a>
            {{ form_row(sortForm.lieu) }}
        </div>

        <div class="row mt-7">
            {{ form_row(sortForm.campus) }}
        </div>
        <div hidden class="row mt-7" >
             {{ form_row(sortForm.motifAnnulation) }}
        </div>

            <button class="btn btn-outline-primary" type="submit">Ajouter</button>


            {{form_end(sortForm)}}


            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
{#                            {{form_start(lieuForm)}}#}
{#                            {{ form_widget(lieuForm) }}#}
{#                            <button class="btn btn-primary" type="submit">Ajouter</button>#}
{#                            {{form_end(lieuForm)}}#}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Send message</button>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    </div>


{% endblock %}

