{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block content %}

    <div class="row mt-5 text-center">
        <h1>Detail sortie</h1>
    </div>

    <p>
        <a style="color: black" href="{{ path('app_sortie_index') }}"><i class="bi bi-arrow-left-circle"></i> Retour à la liste</a>

    </p>

    <div class="card text-center" style="width: 50rem;"  >
        <div class="card-header">
            {{ sortie.nom }}
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{  sortie.dateHeureDebut ? sortie.dateHeureDebut|date("d/m/Y  H:i:s") }}</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Duree: {{ sortie.duree }}</li>
                <li class="list-group-item">Date limite d'inscription : {{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date("d/m/Y") : '' }}</li>
                <li class="list-group-item">Nombre de place: {{  sortie.nbInscriptionMax }}</li>
                <li class="list-group-item">Campus: {{  sortie.campus }}</li>
                <li class="list-group-item">Lieu: {{ sortie.lieu }}</li>
                <li class="list-group-item">Rue: {{  sortie.lieu.rue }}</li>
                <li class="list-group-item">Code Postal: {{ sortie.lieu.ville.codePostal }}</li>
                <li class="list-group-item">Latitude: {{  sortie.lieu.latitude }}</li>
                <li class="list-group-item">Longitude: {{ sortie.lieu.longitude }}</li>
                <li class="list-group-item">Description et Info: {{ sortie.infosSortie }}</li>
                <li class="list-group-item">
                    <div class="tabSort">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom</th>
                            <th>Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for utilisateur in sortie.Participant %}
                            <tr>
                                <td>{{ utilisateur.pseudo }}</td>
                                <td>{{ utilisateur.nom }} {{ utilisateur.prenom }}</td>
                                <td>
                                    <a href="{{ path('app_utilisateur_profil',{id:utilisateur.id}) }}"><i class="bi bi-eye-fill"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </tbody>
                    </table>
                    </div>

                </li>
            </ul>
            <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}" class="btn btn-primary" style="--bs-btn-bg: #a86cff;--bs-btn-border-color: #a86cff;">
                Modifier</a>
        </div>
    </div>



{#    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>#}

{#    {{ include('sortie/_delete_form.html.twig') }}#}
{% endblock %}
