{% extends 'base.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block content %}
    <div class="row mt-5 mb-5 text-center">
        <h1>Ville</h1>
    </div>

<div class="fondTab">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>CodePostal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <a href="{{ path('app_ville_edit', {'id': ville.id}) }}"><i class="bi bi-pencil-fill"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('app_ville_new') }}">Create new</a>
{% endblock %}
